@{
    ViewBag.Title = "Not found";
    Layout = "_Layout";
}

<div class="container pt100">
    <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
            <h3><code>Not found</code></h3>
            <hr>
            <p>Are you sure that this page exists?</p>
        </div>
    </div>
    <div class="row mt">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <h3></h3>
            <h3>🦼🦼🦼🦼</h3>
            <h6>error code: 404 not found</h6>

        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->