<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("_MetatagsPartial")
    @await Html.PartialAsync("_CssPartial")
</head>

<body class="roflan">

@RenderBody()

<!-- +++++ Footer Section +++++ -->
@await Html.PartialAsync("_ScriptsPartial")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>