@using Portfolio.Entity
@model dynamic
@{
    var user = (User)ViewBag.User;
    var onlyName = user.Email.Split("@")[0];

    ViewBag.Title = $"{onlyName} - Profile";
    Layout = "_Layout2";
}

<div class="container">    
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 >User Profile</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4 centered">
                    <img alt="User Pic" src="~/img/user.png" id="profile-image1" class="img-circle img-responsive img-thumbnail">
                </div>
                    
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                    <div class="container" >
                        <h2>@user.Name @user.LastName</h2>
                        <p>an
                            @foreach(var role in (IList<string>)ViewBag.Roles)
                            {
                                <b>@role;</b>
                            }
                        </p>
                        
                    </div>
                    <hr>
                    <p><span class="glyphicon2 glyphicon glyphicon-user one"></span>@onlyName
                    </p>
                    <p><span class="glyphicon2 glyphicon glyphicon-envelope one"></span>@user.Email</p>
                    <hr>
                    <div class="col-sm-5 col-xs-6" >Date Of Joining: @user.RegisterDate.ToString("d")</div>
 
                </div>
            </div>
        </div>
    </div>
</div>