@model Portfolio.Models.Contact

@{
    Layout = "_Layout";
}

<body>
<!-- +++++ Contact Section +++++ -->
<div class="container pt">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>CONTACT ME</h3>
      <hr>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-8 col-lg-offset-2">
      
      <div class="sent-message" id="status" hidden></div>
      <form class="contact-form" asp-action="Send">
        <div class="form-group">
          <input type="text" asp-for="Name" class="form-control" placeholder="Your Name" required/>
        </div>

        <div class="form-group">
          <input type="email" asp-for="Email" class="form-control" placeholder="Your Email" required/>
        </div>

        <div class="form-group">
          <input type="text" asp-for="Subject" class="form-control" placeholder="Subject" required/>
        </div>

        <div class="form-group">
          <textarea class="form-control" asp-for="Message" placeholder="Your Message" rows="5" 
            required></textarea>
        </div>

        <div class="form-send">
          <button type="submit" class="btn btn-large" onclick="loadContactStatus()">Send Message</button>
        </div>
      </form>

    </div>
  </div>
  <!-- /row -->
</div>
<!-- /container -->
</body>

<script src="~/js/contact.js"></script>